
<h1>Seed Data</h1>

<p>These buttons will seed your data!  Push them to add data to your database!!</p>

<a asp-controller="Seed" asp-action="SeedLanguages" class="btn btn-info">Seed Languages</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedRepositories" class="btn btn-warning">Seed Repositories</a>