@model IEnumerable<Group_18_Final_Project.Models.BookOrder>

    @{
        ViewData["Title"] = "View";
    }
    <br />
    <h2>Totals Report</h2>
    <br\>
    <p>Total Revenue:  @ViewBag.TotalRevenue</p>
    <br\>
    <p>Total Cost: @ViewBag.TotalCost</p>
    <br\>
    <p>Total Profit: @ViewBag.TotalProfit</p>
