@model Group_18_Final_Project.Models.BookOrder

@{
    ViewData["Title"] = "Edit";
}

<!--The following view is for users editing the quantity of books in their cart-->

<h2>Edit</h2>

<h4>@ViewBag.BookTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <label class="control-label">Book Price</label><br />
            @Html.DisplayFor(modelItem => modelItem.Price)
        </div><br />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookOrderID" />
            <div class="form-group">
                <label asp-for="OrderQuantity" class="control-label"></label>
                <input asp-for="OrderQuantity" class="form-control" />
                <span asp-validation-for="OrderQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CartDetails" asp-controller="Orders">Back to Cart</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
