@{
    ViewData["Title"] = "Completed Order";
}
<br />
<div>
    <h3>Thank you for your order!</h3>
    <br/>
    <p>We hope that you've chosen a new favorite book.</p>
    <p>Your order is being shipped.</p>
</div><br />

<div>
    <p>Ready to go own a new adventure? Click on the button below to start your search!</p>
</div>
<a asp-action="DetailedSearch" asp-controller="Home" class="btn btn-success">Search for Books</a>