@model Group_18_Final_Project.Models.Reorder
@using Group_18_Final_Project.Controllers

@{
    ViewData["Title"] = "Send Order";
}
<h2>Send Order</h2>
<h4>Your Order</h4>
<hr />

<div class="row">
    <div class="col-md-8">

        <form asp-action="SendOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ReorderID" />

            <div class="form-group">
                <br/><br/>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

